workflows/telegram-task-manager.json
{
  "name": "PEn08. Кейс: создание MVP-ассистента на базе GPT",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3a86f48-0529-40de-93d0-844440a28ccd",
              "name": "command",
              "value": "={{ $json.message.text.split(' ')[0] ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "84e20a93-a664-4d81-be5d-f2d2f75c37cb",
              "name": "message_content",
              "value": "={{ $json.message.text.split(' ').slice(1).join(' ') ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "16e0b88d-c061-4529-a38d-6515ce832775",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        352
      ],
      "id": "6644d09f-635a-46cd-93f9-c2487ad339c7",
      "name": "Config"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9f092c14-e821-4683-aa0c-f7e1d439d435"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8b18acd0-094e-4977-b65d-333ed10dbe33",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/newtask",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "new_task"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e5cc9f1f-ef16-4106-8c2f-b96ff6259fd3",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_tasks"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6ce367ba-d455-4421-ae64-87c165a17bc8",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/updatetask",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update_task"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        64,
        320
      ],
      "id": "84292137-2330-486d-b669-05f3d8e389ab",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Config').item.json.chat_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -128,
        704
      ],
      "id": "03266410-fa15-44e7-bf00-2706fe281252",
      "name": "Send a chat action",
      "webhookId": "34c3a0bf-4c9a-46ab-8472-d0cbadcf7cb4",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Config').item.json.chat_id }}",
        "text": "=Привет! Я твой личный таск-менеджер. \n/newtask — добавить задачу, \n/list — список задач, \n/updatetask — обновить задачу",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        128
      ],
      "id": "10cc6cc9-da3a-4d86-9150-d35e22dbf7c8",
      "name": "Send a text message",
      "webhookId": "3784b885-63b3-49b4-80ec-a6ac35954412",
      "credentials": {
        "telegramApi": {
          "id": "5wIHJKIjIFXAWkxo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $('Config').item.json.message_content }}",
        "attributes": {
          "attributes": [
            {
              "name": "task_content",
              "description": "Текст задачи, которую ставит пользователь",
              "required": true
            },
            {
              "name": "deadline_at",
              "description": "=Ты — помощник, который извлекает дедлайн (дату, время) из пользовательского текста. Если в тексте есть конкретное время или дата — укажи их в ISO-формате (YYYY-MM-DDTHH:mm) в часовом поясе +03:00, если не указано иное\n.\nЕсли указано только слово вроде «завтра», «послезавтра», «через 2 дня», «через неделю» — преобразуй в конкретную дату относительно сегодняшнего дня\n.\nЕсли время не указано — верни завтрашний день в то же время, что и сейчас\n.\nСегодняшнее время: {{ $now }}",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        368,
        336
      ],
      "id": "92be98e3-bf49-4d27-9915-b721902d4cc8",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        368,
        512
      ],
      "id": "0d0dd3e4-e717-46ae-b2ec-2981c2c6f42c",
      "name": "OpenAI Chat Model",
      "notesInFlow": false,
      "credentials": {
        "openAiApi": {
          "id": "KNNMHP3PAf7xcGbU",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "58aeeb73-b977-4869-abe8-9b201b1e26e9",
              "leftValue": "={{ $json.output.deadline_at }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        336
      ],
      "id": "350fde72-0f88-4d88-980b-18897560b099",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Config').item.json.chat_id }}",
        "text": "Ошибка! Дедлайн указан раньше текущей даты. Пожалуйста, измените дедлайн",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        240
      ],
      "id": "18ab0504-9b6d-4910-a533-6332a07cf68f",
      "name": "Send a text message1",
      "webhookId": "39c1dee2-b912-440d-a1f7-fa37b738f09a",
      "credentials": {
        "telegramApi": {
          "id": "5wIHJKIjIFXAWkxo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "dVh9E7mczypNdxCH",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "/projects/oTYDoEYniFi1qnfX/datatables/dVh9E7mczypNdxCH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Finished": false,
            "notified": false,
            "chat_id": "={{ $('Config').item.json.chat_id }}",
            "TaskContent": "={{ $('Information Extractor').item.json.output.task_content }}",
            "DeadlineAt": "={{ $('Information Extractor').item.json.output.deadline_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TaskContent",
              "displayName": "TaskContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DeadlineAt",
              "displayName": "DeadlineAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Finished",
              "displayName": "Finished",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notified",
              "displayName": "notified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        928,
        432
      ],
      "id": "9662476d-6673-4b74-8761-9100e17c9f05",
      "name": "Insert row"
    },
    {
      "parameters": {
        "chatId": "={{ $('Config').item.json.chat_id }}",
        "text": "=Отлично! Я добавил вашу задачу TASK-{{ $json.id }} и напомню вам о ней при приближении дедлайна.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1136,
        432
      ],
      "id": "8629e066-f8e6-4a00-9004-6eb2dd58b08d",
      "name": "Send a text message2",
      "webhookId": "2edcd9da-413a-4854-a7b4-115413cc1397",
      "credentials": {
        "telegramApi": {
          "id": "5wIHJKIjIFXAWkxo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "k3Xj1YVI3UpsYQ59",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "/projects/oTYDoEYniFi1qnfX/datatables/k3Xj1YVI3UpsYQ59"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $('Config').item.json.chat_id }}"
            },
            {
              "keyName": "Finished",
              "condition": "isFalse"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        608,
        752
      ],
      "id": "7a4dbabd-7ee2-489b-af01-c43cea83cf0a",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.DeadlineAt }}",
        "format": "=dd.MM.yyyy HH:mm",
        "outputFieldName": "Custom Format",
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        832,
        752
      ],
      "id": "210fe6b2-187c-4dad-aa14-217711d856b0",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1040,
        752
      ],
      "id": "db26ae30-4437-40bb-bb6d-f5bff3637732",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d61c7e5-0fa5-4487-9514-50978e58e4f5",
              "name": "massage",
              "value": "=Список ваших задач (всего {{ $json.data.length }}):\n{{ $json.data.map((item, index) => {\n  return `TASK-${item.id}. ${item.task_content} (дедлайн: ${item.deadline_at})`;\n}).join('\\n') }} \n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        752
      ],
      "id": "71a3d216-d177-4112-8457-cf028c58da6c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $('Config').item.json.chat_id }}",
        "text": "={{ $json.massage }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        752
      ],
      "id": "9a6928f7-f9df-4d3b-a7c1-7162a83235be",
      "name": "Send a text message3",
      "webhookId": "953d1417-1f22-41e6-a32d-907fc87c0a65",
      "credentials": {
        "telegramApi": {
          "id": "5wIHJKIjIFXAWkxo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.message_content }}",
        "attributes": {
          "attributes": [
            {
              "name": "task_id",
              "description": "=Извлеки числовой ID задачи из текста. \nФормат в сообщении: TASK-{число}. \nВерни только число. \nЕсли ID не указан — верни 0.",
              "required": true
            },
            {
              "name": "action",
              "description": "Возможный список действий: \n\n1. finish — задача завершена; \n2. change_deadline — перенос дедлайна; \n3. remove — удалить задачу.",
              "required": true
            },
            {
              "name": "deadline_at",
              "description": "=Извлеки дедлайн из текста пользователя и верни в ISO-формате YYYY-MM-DDTHH:mm+03:00.\nТекущее время (Москва, UTC+3): {{ DateTime.now().setZone('Europe/Moscow').toISO() }}\nЕсли дата указана явно (например, \"27.05.2026 11:00\") — используй её точно.\nЕсли дата относительная (\"завтра\", \"через 2 дня\") — вычисли от текущего московского времени.\nЕсли время не указано — используй текущее время.",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        416,
        1072
      ],
      "id": "be1d70a9-04d8-4ddd-8f4a-b292d26953bc",
      "name": "Information Extractor1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        1216
      ],
      "id": "e86629ae-466f-4eef-be25-be1f077cf8c9",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "KNNMHP3PAf7xcGbU",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.action }}",
                    "rightValue": "change_deadline",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "73680cc6-e2ba-4120-9421-e815e54f6283"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "change_deadline"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "34d60deb-bc92-4198-a300-99f7cf01e78b",
                    "leftValue": "={{ $json.output.action }}",
                    "rightValue": "finish",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "finish"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "65e06e85-7d10-4119-a5a2-bf905963cf1e",
                    "leftValue": "={{ $json.output.action }}",
                    "rightValue": "remove",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "remove"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        768,
        1056
      ],
      "id": "1c6d2da8-da66-48f4-8578-f6d593e4e2dc",
      "name": "Switch1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3bb929f4-1fe0-43ba-a1e3-9c2e099b3ca9",
              "leftValue": "={{ $('Information Extractor1').item.json.output.deadline_at }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1232,
        944
      ],
      "id": "eac5d81a-df13-4223-bf83-2cefe34b83ef",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "dVh9E7mczypNdxCH",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "/projects/oTYDoEYniFi1qnfX/datatables/dVh9E7mczypNdxCH"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ Number($('Information Extractor1').item.json.output.task_id) }}"
            },
            {
              "keyName": "chat_id",
              "keyValue": "={{ Number($('Config').item.json.chat_id) }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Finished": "={{ false }}",
            "notified": false,
            "DeadlineAt": "={{ $('Information Extractor1').item.json.output.deadline_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TaskContent",
              "displayName": "TaskContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DeadlineAt",
              "displayName": "DeadlineAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Finished",
              "displayName": "Finished",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notified",
              "displayName": "notified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1440,
        928
      ],
      "id": "092c2755-f4ea-4310-9649-2a1e956318de",
      "name": "Update deadline_at"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -336,
        1584
      ],
      "id": "000ce172-b969-40be-aad4-f520a8b3ca30",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "k3Xj1YVI3UpsYQ59",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "/projects/oTYDoEYniFi1qnfX/datatables/k3Xj1YVI3UpsYQ59"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Finished",
              "condition": "isFalse"
            },
            {
              "keyName": "notified",
              "condition": "isFalse"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -112,
        1584
      ],
      "id": "629494f5-5f7d-4c8f-9664-32674fd62b01",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a140bb4a-72a7-4d40-8a3d-aa4d4f3dc92a",
              "name": "can_send_notify",
              "value": "={{ new Date($json.deadline_at) < $now.plus(30, 'minutes') }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        1584
      ],
      "id": "784b2dc6-afee-407e-848d-31b04c32da44",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8cdde641-57a2-426a-b4c7-788665cb1ee9",
              "leftValue": "={{ $json.can_send_notify }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        1584
      ],
      "id": "2552d74d-ef0e-479a-a6f6-b569066a5400",
      "name": "If2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Get row(s)1').item.json.chat_id }}",
        "text": "=Дедлайн задачи TASK-{{ $json.id }} \"{{ $json.task_content }}\" истекает через 30 минут!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        1504
      ],
      "id": "2888dea9-f811-4777-a154-071b9dd8f73a",
      "name": "Send a text message4",
      "webhookId": "0f2ebf94-84f7-464d-b4de-6936e4f2d077",
      "credentials": {
        "telegramApi": {
          "id": "5wIHJKIjIFXAWkxo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "k3Xj1YVI3UpsYQ59",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "/projects/oTYDoEYniFi1qnfX/datatables/k3Xj1YVI3UpsYQ59"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Get row(s)1').item.json.id }}"
            },
            {
              "keyName": "chat_id",
              "keyValue": "={{ $('Get row(s)1').item.json.chat_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Finished": false,
            "notified": false,
            "chat_id": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TaskContent",
              "displayName": "TaskContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DeadlineAt",
              "displayName": "DeadlineAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Finished",
              "displayName": "Finished",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notified",
              "displayName": "notified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        832,
        1504
      ],
      "id": "16c6913f-5aeb-424a-85e2-f9a383ca28f4",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "dVh9E7mczypNdxCH",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "/projects/oTYDoEYniFi1qnfX/datatables/dVh9E7mczypNdxCH"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ Number($('Information Extractor1').item.json.output.task_id) }}"
            },
            {
              "keyName": "chat_id",
              "keyValue": "={{ Number($('Config').item.json.chat_id) }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Finished": true,
            "notified": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TaskContent",
              "displayName": "TaskContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DeadlineAt",
              "displayName": "DeadlineAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Finished",
              "displayName": "Finished",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notified",
              "displayName": "notified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1440,
        1072
      ],
      "id": "51d23d93-51c3-4c98-aebc-c672b71377ea",
      "name": "Update finished"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "dVh9E7mczypNdxCH",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "/projects/oTYDoEYniFi1qnfX/datatables/dVh9E7mczypNdxCH"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "=id",
              "keyValue": "={{ Number($('Information Extractor1').item.json.output.task_id) }}"
            },
            {
              "keyName": "=chat_id",
              "keyValue": "={{ Number($('Config').item.json.chat_id) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1440,
        1216
      ],
      "id": "4d5a4a5c-4936-4552-a142-7a6e00e70c56",
      "name": "Delete row"
    },
    {
      "parameters": {
        "chatId": "={{ $('Config').item.json.chat_id }}",
        "text": "=Задача TASK-{{ $('Information Extractor1').item.json.output.task_id }} завершена.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        1072
      ],
      "id": "95081f7f-721e-486e-9964-1bc3c1b8cccc",
      "name": "Send a text message5",
      "webhookId": "d04ac691-6b1e-47ac-bceb-bddd20edeefe",
      "credentials": {
        "telegramApi": {
          "id": "5wIHJKIjIFXAWkxo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Config').item.json.chat_id }}",
        "text": "=Дедлайн задачи TASK-{{ $('Information Extractor1').item.json.output.task_id }} обновлён: {{ $('Information Extractor1').item.json.output.deadline_at }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        928
      ],
      "id": "979a54d4-3ba7-4b8f-ac8c-72c283d18731",
      "name": "Send a text message6",
      "webhookId": "d04ac691-6b1e-47ac-bceb-bddd20edeefe",
      "credentials": {
        "telegramApi": {
          "id": "5wIHJKIjIFXAWkxo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Config').item.json.chat_id }}",
        "text": "=Задача TASK-{{ $('Information Extractor1').item.json.output.task_id }} удалена.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        1216
      ],
      "id": "978d5b45-782e-4766-baae-2c6c0173b3b5",
      "name": "Send a text message7",
      "webhookId": "d04ac691-6b1e-47ac-bceb-bddd20edeefe",
      "credentials": {
        "telegramApi": {
          "id": "5wIHJKIjIFXAWkxo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        352
      ],
      "id": "ba7a02a1-eae6-4fee-8f77-ef27b71100d2",
      "name": "Telegram Trigger",
      "webhookId": "ebdf8c85-fa9f-4ab4-b006-05792721c25e",
      "credentials": {
        "telegramApi": {
          "id": "5wIHJKIjIFXAWkxo",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a chat action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a chat action": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message2": {
      "main": [
        []
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update finished",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update deadline_at",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message4": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update finished": {
      "main": [
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update deadline_at": {
      "main": [
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete row": {
      "main": [
        [
          {
            "node": "Send a text message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3d929f8f-89d9-4b3f-ad17-435289d3a856",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c262c1f825d300fb2acc885c1cf8e8de7de3a3e3ae6cdd5035d672786fc6b71b"
  },
  "id": "8tnYMc5asFrRlw1I",
  "tags": []
}
